/* HTML TAGS */
body{
    background: rgb(145,20,110);
    background: linear-gradient(157deg, rgba(145,20,110,1) 0%, rgba(226,255,0,1) 100%);
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

/* #IDs# */
#header{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 6rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    color: rgb(182, 252, 41);
}

#links{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(0, 0, 0);
    mix-blend-mode: hard-light;
    border-radius: 100rem;
    box-shadow: 0px 0px 6px 6px yellowgreen;
}

#lillia{
    padding-top: 2rem;
    padding-bottom: 0;
}

/* Classes */
.bookmark{
    width: 15%;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 40px;
    background-color: grey; 
    box-shadow: 0px 0px 6px 6px yellowgreen;
}

.link-pic{
    width: 100%;
}